    <h2 class="posttitle"
<%= link_to image_tag(post.poster.avatar.url(:small)), {:controller => 'users', :action => 'show', :id => post.poster}, :class => 'imagelink' %>
      <%= link_to post.display_title, post_url(post) %>
    </h2>    
<div class="box2">
<p class='attribution'>posted by <%= link_to post.poster.login, :controller => 'users', :action => 'show', :id => post.poster %>
<% if post.published? %>
<%= post.published_at.strftime("%b %e, %Y") %>
<% else %>
<%= post.created_at.strftime("%b %e, %Y") %>
<% end %>
@
<% if post.published? %>
<%= post.published_at.strftime("%l:%M %p") %>
<% else %>
<%= post.created_at.strftime("%l:%M %p") %>
<% end %>
&bull;
    <%= link_to "<strong class='commentno'>" + post.comments.count.to_s + "</strong> " + (post.comments.count == 1 ? "comment" : "comments"), post_url(:id => post, :anchor => :comments) %>
</p>
<% unless controller.controller_name == 'application' %>
<% unless post.tags.empty? %><p class="attribution">in
<% for tag in post.tags.sort_by{|p| p.name} %>
  <%= link_to tag.name, "/#{tag.object_type.downcase}s/browse/#{tag}", :class => 'posttag' %>
<% end %></p><% end %><% end %>
</div>

<div class="box">
<% if post.image_file_name %>
<% if controller.action_name == 'show' %>
<%= image_tag post.image.url(:big), {:class => 'postimg'} %>
<% else %>
<%= image_tag post.image.url(:thumb), {:class => 'postimg'} %>
<% end %>
<% end %>
<% if controller.action_name == 'show' %>
<%= auto_link(post.sanitized_content) %>
<% elsif controller.controller_name == 'application' %>
<%= auto_link(post.medium_excerpt) %>
<% else %>
<%= auto_link(post.longer_excerpt) %>
<% end %>
<% if post.image_file_name %>
<p class="clearing"></p>
<% end %>
</div>

  <% if logged_in? %>
  <div class="box2">
      <%= link_to_remote "Add comment", :update => 'newcomment' + post.id.to_s, :url => new_post_comment_url(post), :method => 'get' %>

    <% if post.poster == current_user %>

     <% unless current_user.admin? %>   <%= link_to "Edit post", edit_post_url(post) %> <% end %>
        <%= link_to "Delete post", post_url(post), :method => 'delete', :confirm => 'Are you sure?' %>

    <% end %>    
	<% if current_user.admin? %>

        <%= link_to "Edit post", edit_post_url(post) %>
	<% if post.front_page  %>
	<%= link_to "Remove from front page", :action => "unmake_front_page", :controller => "posts", :id => post.id %>
	<% else %>
	<%= link_to "Promote to front page", :action => "make_front_page", :controller => "posts", :id => post.id %>
	<% end %>

	<% end %>
</div>    
  <% end %>







