<% if current_user.next_step? %>
<div class="box2 nextstep">
<% if current_user.posts.blank? %>
<p class="highlight"><%= link_to "Write a post", {:action => 'new', :controller => 'posts'}, :class => 'button' %></p>
to share links, advice, information, or anecdotes or start a discussion with the Stemming community.
<% elsif current_user.avatar_file_name.blank? %>
<p class="highlight"><%= link_to "Edit your profile", {:controller => 'users', :action => 'edit', :id => current_user.id}, :class => 'button' %></p>
and upload an avatar to represent you on the site!
<% elsif current_user.city.blank? && current_user.zip.blank? %>
<p class="highlight"><%= link_to "Edit your profile", {:controller => 'users', :action => 'edit', :id => current_user.id}, :class => 'button' %></p> and add your location, so other users in your area can find you.
<% elsif (current_user.education.blank? || current_user.bio.blank? || current_user.career.blank?) %>
<% @array = [] %>
<% if current_user.bio.blank? %>
<% @array << 'description' %>
<% end %>
<% if current_user.education.blank? %>
<% @array << 'educational info' %>
<% end %>
<% if current_user.career.blank? %>
<% @array << 'career info' %>
<% end %>
<p class="highlight"><%= link_to "Edit your profile", {:controller => 'users', :action => 'edit', :id => current_user.id}, :class => 'button' %></p> and fill out your <%= @array.to_sentence %> so other users can learn more about you.
<% elsif current_user.tags.blank? %>
<p class="highlight"><%= link_to "Edit your profile", {:controller => 'users', :action => 'edit', :id => current_user.id}, :class => 'button' %></p> and tag yourself with some of your interests, so other users interested in the same things can find you.
<% elsif current_user.friends.size < 3 %>
<p class="highlight"><%= link_to "Search Stemming's users", {:action => 'search', :controller => 'users'}, :class => 'button' %></p> to make friends on the site and connect with other women and girls interested in the STEM fields.
<% end %>
</div>
<% end %>
